@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  width: 547.5px;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway;
}

.screenshotContainer {
  background-color: var(--primaryTransparent);
  width: 543.5px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: var(--primary) 2px solid;
  border-radius: 1%;
}

.screenshot {
  object-fit: fill;
  max-width: 543.5px;
  height: auto;
}

.projectDetails {
  min-width: 447.5px;
  min-height: 150px;
  background-color: var(--primary);
  padding-left: 5px;
}

.topBar {
  display: flex;
  height: 30%;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  margin-top: 3px;
}

.icon,
.emailIcon {
  height: 20px;
  width: auto;
  padding: 3px;
  margin-top: 4px;
  line-height: 2;
  background-color: white;
  border-radius: 15%;
  margin-left: 6px;
}

a > svg {
  margin-bottom: -11px;
  background-color: white;
  border-radius: 15%;
  height: 20px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 3px;
  z-index: 0;
  width: 80px;
  height: 28px;
  margin-bottom: 8px;
}

h3 {
  font-size: 22px;
  margin: 0 0 0 8px;
}

.projectDescription {
  font-size: 18px;
  margin: 4px 8px 4px 8px;
}

@media (max-width: 500px) {
  .container {
    width: 361px;
    height: 357px;
  }

  h3 {
    font-size: 16px;
  }

  .screenshotContainer {
    background-color: var(--primary);
    width: 357px;
    height: 230px;
  }

  .screenshot {
    max-width: 357px;
    height: auto;
    object-fit: fill;
  }

  .projectDetails {
    min-width: 280px;
    min-height: 110px;
  }

  .icon {
    height: 18px;
    width: auto;
  }

  .emailIcon {
    height: 18px;
  }

  .btnContainer {
    width: 80px;
    height: 28px;
  }

  .projectDescription {
    font-size: 14px;
  }
}
