@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  width: 647.5px;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway;
}

.screenshotContainer {
  background-color: rgba(255, 192, 203, 0.483);
  width: 647.5px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px rgba(255, 192, 203, 0.624) solid;
}

.screenshot {
  object-fit: fill;
  max-width: 647.5px;
  height: auto;
}

.projectDetails {
  min-width: 447.5px;
  min-height: 130px;
  background-color: pink;
}

.topBar {
  display: flex;
  height: 25%;
  justify-content: space-between;
  align-items: flex-end;
}

.icon {
  height: 20px;
  width: auto;
  padding: 3px;
  margin-top: 4px;
  line-height: 2;
  margin-right: 2px;
}

a > svg {
  margin-bottom: -11px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 3px;
  z-index: 0;
  width: 80px;
  height: 28px;
}

h3 {
  font-size: 22px;
  margin: 0 0 0 8px;
}

p {
  font-size: 18px;
  margin: 4px 8px 4px 8px;
}

@media (max-width: 500px) {
  .container {
    width: 351.5px;
    height: 357px;
  }

  h3 {
    font-size: 14px;
  }

  .screenshotContainer {
    background-color: pink;
    width: 347.5px;
    height: 230px;
  }

  .screenshot {
    max-width: 347.5px;
    height: auto;
    object-fit: fill;
  }

  .projectDetails {
    min-width: 280px;
    min-height: 110px;
  }

  .icon {
    height: 20px;
    width: auto;
  }

  .btnContainer {
    width: 80px;
    height: 28px;
  }

  p {
    font-size: 12px;
  }
}
