.container {
  width: 280px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.screenshot {
  background-color: pink;
  width: 280px;
  height: 200px;
}

.projectDetails {
  width: 280px;
  height: 130px;
  background-color: blueviolet;
}
