@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  max-height: fit-content;
}

.gallery {
  width: 94vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  max-width: 1250px;
  margin-bottom: 30px;
}

.sectionTitle {
  background-color: var(--primary);
  margin-bottom: 5px;
  height: min-content;
  width: 94vw;
  min-width: 351.5px;
  max-width: 1170px;
  margin: 0 auto 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectionTitle > h2 {
  font-size: 26px;
  font-family: Raleway;
  padding-left: 13px;
  margin: 2px 0 2px 0;
  text-shadow: 1px 1px 2px white;
}

@media (max-width: 400px) {
  .gallery {
    min-height: 60vw;
    height: fit-content;
    flex-direction: column;
    width: 361px;
  }
  .sectionTitle > h2 {
    font-size: 18px;
  }
  .sectionTitle {
    width: 361px;
  }
}

@media (max-width: 1160px) {
  .sectionTitle {
    max-width: 543px;
  }
}
