.container {
  width: 90vw;
  min-height: 60vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  max-width: 950px;
}

@media (max-width: 400px) {
  .container {
    min-height: 60vw;
    height: fit-content;
    flex-direction: column;
  }
}
