@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  display: flex;
  height: min-content;
  width: 85vw;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  max-width: 470px;
  max-height: 800px;
}
.bioText > * {
  margin-bottom: 3px;
}

.frame {
  width: fit-content;
  position: relative;
  max-height: min-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  max-width: 230px;
  max-height: 300px;
}

img {
  object-fit: contain;
  width: auto;
  height: 32vw;
  max-width: 230px;
  max-height: 300px;
}

.caption {
  font-family: 'Raleway';
  position: absolute;
  z-index: 2;
  color: rgb(8, 8, 68);
  font-size: x-large;
  margin-bottom: 7%;
  text-shadow: rgb(221, 219, 219) 1px 1px 5px;
  max-width: 230px;
}

.bio {
  font-family: 'Raleway';
  background-color: pink;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
}

.icon {
  height: 3.5vw;
  width: auto;
  padding: 3px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  z-index: 0;
}

@media (max-width: 400px) {
  img {
    width: 150px;
    height: auto;
  }
  .caption {
    font-size: medium;
  }
  .bio {
    font-size: 70%;
  }
  .btnContainer {
    height: fit-content;
  }
  .icon {
    height: 25px;
    width: auto;
  }
}
