@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  display: flex;
  height: min-content;
  width: 94vw;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  max-width: 470px;
  max-height: 800px;
}
.bioText > * {
  margin-bottom: 3px;
}

.bioText > p {
  font-size: 20px;
}

.bioText > h3 {
  font-size: 24px;
}

.frame {
  width: fit-content;
  position: relative;
  max-height: min-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  max-width: 330px;
  max-height: 400px;
}

.logo {
  object-fit: contain;
  height: auto;
  width: 50vw;
  max-width: 330px;
  max-height: 400px;
}

.caption {
  font-family: 'Raleway';
  position: absolute;
  z-index: 2;
  color: rgb(8, 8, 68);
  font-size: 190%;
  margin-bottom: 7%;
  text-shadow: rgb(221, 219, 219) 1px 1px 5px;
  max-width: 230px;
}

.bio {
  font-family: 'Raleway';
  background-color: pink;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  max-width: 637px;
  height: fit-content;
  width: 94vw;
}

.icon {
  height: 3.5vw;
  width: auto;
  padding: 3px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  z-index: 0;
}

@media (max-width: 500px) {
  .logo {
    max-width: 180px;
    height: auto;
  }
  .bio {
    font-size: 70%;
    padding: 2.5px 5px 2.5px 5px;
    width: 90vw;
  }
  .btnContainer {
    height: fit-content;
  }
  .icon {
    height: 25px;
    width: auto;
  }
  .bioText > p {
    font-size: 12px;
  }

  .bioText > h3 {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .caption {
    font-size: 16px;
  }
}
