@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  background-color: pink;
  font-family: Raleway;
  width: 94vw;
  padding: 5px 5px 5px 13px;
}

h4,
p {
  margin: 0 0 5px 0;
}

.email {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
}
a {
  margin-right: 5px;
}
.emailText {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .container {
    max-width: 333.5px;
  }
}
