@font-face {
  font-family: 'Raleway';
  src: url('/Raleway-Medium.ttf');
}

.container {
  background-color: var(--primary);
  font-family: Raleway;
  max-width: 629.5px;
  width: 94vw;
  padding: 5px 5px 5px 13px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 26px;
  margin: 10px 0 5px 0;
}

.text {
  font-size: 18px;
  margin: 5px 0 -6px 0;
}

.email {
  margin-bottom: 15px;
  display: flex;
  font-size: 20px;
  height: 35px;
  align-items: flex-end;
}

.emailIcon {
  color: white;
  height: 30px;
}
.emailA {
  margin-right: 5px;
  height: 25px;
}

.emailIcon:hover {
  transform: translateY(-2px);
}

.emailIcon:active {
  transform: translateY(-5px);
}

.emailText {
  height: min-content;
  margin: 0;
  margin-bottom: -5px;
  color: white;
}

@media (max-width: 500px) {
  .container {
    max-width: 343px;
  }
  .emailText,
  .text {
    font-size: 14px;
  }
  .title {
    font-size: 18px;
  }
  .emailIcon {
    height: 20px;
  }
  .emailText {
    margin-bottom: 2px;
  }
}
