body {
  background-image: url('https://res.cloudinary.com/dscsiijis/image/upload/c_scale,w_1969/v1691605983/bg1_wmsfkm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  color: black;
}

.page {
  margin: 3vh 5vw 3vh 5vw;
  min-height: 90vh;
  height: auto;
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
}

:root {
  --primary: lightblue;
  --primaryTransparent: rgba(9, 61, 9, 0.497);
  --buttonPress: yellow;
  --secondary: pink;
}
