body {
  background-image: url('https://res.cloudinary.com/dscsiijis/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1691532708/portfolio%20assets/background_shrunk.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  color: whitesmoke;
}

.page {
  margin: 3vh 5vw 3vh 5vw;
  min-height: 90vh;
  height: auto;
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
}

:root {
  --primary: rgb(9, 61, 9);
  --primaryTransparent: rgba(9, 61, 9, 0.497);
}
