body {
  background-color: black;

  background-attachment: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  color: black;
}

.page {
  margin: 0vh 5vw 3vh 5vw;
  min-height: 90vh;
  height: auto;
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
}

:root {
  --primary: lightblue;
  --primaryTransparent: rgba(9, 61, 9, 0.497);
  --buttonPress: pink;
  --secondary: rgba(20, 20, 74, 0.896);
}
