body {
  background-image: url('/background.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: auto;
}

.page {
  margin: 5vh 5vw 5vh 5vw;
  min-height: 90vh;
  height: auto;
  width: 90vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 950px;
  max-height: 1200px;
}
